						
CREATE TABLE Jaegers (							
    id        SERIAL PRIMARY KEY,							
    modelName TEXT,						 	
    modelType TEXT,					 			
    mark      SMALLINT,								
    height    INTEGER,								
    weight    INTEGER,								
    status    TEXT, 								
    origin    TEXT,								
    launch    DATE,								
    kaijukill SMALLINT
);


																

